
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Tours</title>
    </head>
    <body>

       <header th:replace="layout/plantilla :: header"/>

        <section>

            <ul>

                <li>
                    <h1 class="tour">Puntarenas Costa Rica</h1>
                    <p>Un viaje exclusivo a Punatrenas en un hotel todo incluido cerca a la playa con aguas cristalinas</p>
                    <ul>
                        <li>wifi</li>
                        <li>Parqueo</li>
                        <li>Todo Incluidp</li>
                        <li>Caja Fuerte</li>
                    </ul>
                    <img src="" alt=""> </img>
                </li>

                <li>
                    <h1>Limon Costa Rica</h1>
                    <p>Hotel de playa con vista al mar, zona de alto oleaje para personas que desean disfrutar del surfing y del sonido del mar</p>
                    <ul>
                        <li>wifi</li>
                        <li>Parqueo</li>
                        <li>Todo Incluidp</li>
                        <li>Caja Fuerte</li>
                        <li>Tina</li>
                    </ul>
                    <img src="" alt=""> </img>
                </li>

            </ul>

        </section>

        <footer>

            <p>&COPY; Derechos 2022</p>

        </footer>

    </body>
</html>
