<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>

    <body>

        <header th:replace="layout/plantilla :: header"/>


        <div id ="header"  >



            <div class="container-fluid text-center " style="padding-top: 50px; padding-bottom: 100px; width: 80%">



                <div class="row" >


                    <div class="col-sm card" style="margin-left: 5px; margin-right: 5px" >

                        <img src="img/tour1.png" alt="Logo" style="width: 100%"/>
                        <div >
                            <h4 class="card-title">Catarata de Río Celeste</h4>
                            <p class="card-text" style="font-size:18px">La reacción química de una serie de minerales volcánicos que se encuentran en el fondo de este río consiguen darle al agua 
                                un espectacular color turquesa que deja para atrás la tonalidad que ofrece la playa más paradisiaca del mundo.</p>
                            <a href="#" class="btn btn-dark">Más información</a>
                        </div>
                    </div> 



                    <div class="col-sm card" style="margin-left: 5px; margin-right: 5px">

                        <img src="img/tour2.png" alt="Logo" style="width: 100%"/>
                        <div >
                            <h4 class="card-title">Isla Tortuga</h4>
                            <p class="card-text" style="font-size:18px">Desde la distancia en el mar adentro, su forma se asemeja a quelonios que significa tortuga en la antigua lengua huetar, perteneciente a 
                                los indígenas que poblaron parte del Pacífico Central, de allí proviene su nombre.</p>
                            <a href="#" class="btn btn-dark">Más información</a>
                        </div>
                    </div> 




                    <div class="col-sm card" style="margin-left: 5px; margin-right: 5px">

                        <img src="img/tour3.png" alt="Logo" style="width: 100%"/>
                        <div >
                            <h4 class="card-title">Monteverde Extremo Park</h4>
                            <p class="card-text" style="font-size:18px">Cuando se trata de adrenalina, altura, vértigo y emociones extremas sobran los valientes que quieren apuntarse,
                                por otro lado están los menos convencidos que van por probar algo distinto y nunca faltan los valientes y 
                                van casi obligados..</p>
                            <a href="#" class="btn btn-dark">Más información</a>
                        </div>
                    </div> 


                    <div class="col-sm card" style="margin-left: 5px; margin-right: 5px">

                        <img src="img/tour4.png" alt="Logo" style="width: 100%"/>
                        <div >
                            <h4 class="card-title">Volcán Arenal</h4>
                            <p class="card-text" style="font-size:18px">La imponencia del volcán Arenal es innegable y esto es en lo primero que pensamos al visitar La Fortuna de San Carlos, donde
                                se ubica esta maravilla natural.</p>
                            <a href="#" class="btn btn-dark">Más información</a>
                        </div>
                    </div> 
                </div>

            </div>

        </div>



        <footer th:replace="layout/plantilla :: footer"/>




    </body>
</html>
